.country-container {
    width: 100%;
    display: flex;
    height: inherit;
    margin: 2rem 0rem;
    padding: 2rem 4rem;
    align-items: center;
    gap: 2rem;
}

.country-flag-image {
    width: 100%;
    max-width: 500px; 
    display: flex;
    align-items: center;
    justify-content: center;
}

.country-flag-image > img {
    width: 100%;
    max-width: 300px;
}

.country-details {
    width: 100%;
    max-width: 60vw;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
}

.country-details > h2 {
    font-size: 2rem;
}

.country-info-container {
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    gap: 1rem;
}

.country-info-container > p {
    font-size: 1.2rem;
}

.country-info-container > p > span {
    font-weight: bolder;
    color: rgb(74, 74, 74);
}

.back-btn {
    margin: 1.4rem 4rem 1.5em 0rem;
    display: flex;
    justify-content: flex-end;
}

@media screen and (max-width: 768px) {
    .country-container {
        flex-direction: column;
        padding: 1rem 2rem;
        gap: 1rem;
    }

    .country-flag-image {
        width: 100%;
        justify-content: center;
    }

    .country-flag-image > img {
        width: 70%;
    }

    .country-details {
        width: 100%;
        align-items: center;
        text-align: center;
    }

    .country-details > h2 {
        font-size: 2.5rem;
    }

    .country-info-container > p {
        width: 100%;
        font-size: 1.1rem;
        text-align: center;
    }

    .back-btn {
        padding: 1rem;
        justify-content: end;
    }
}

@media screen and (max-width: 480px) {
    .country-details > h2 {
        font-size: 2rem;
    }

    .country-info-container > p {
        font-size: 1rem;
    }

    .country-flag-image > img {
        width: 80%;
    }

    .back-btn {
        padding: 1rem;
        justify-content: end;
    }
}
