.countries-container {
    margin-top: 2rem;
    width: 90%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2rem;
}


@media screen and (max-width: 1024px) {
    .countries-container {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media screen and (max-width: 768px) {
    .countries-container {
        grid-template-columns: repeat(2, 1fr);
        gap: 1.5rem;
    }
}

@media screen and (max-width: 480px) {
    .countries-container {
        grid-template-columns: 1fr;
        gap: 1rem;
    }
}
